.counter-container{
    width: 20%;
    margin: 0 auto;
}
.counter-value{
    background-color: #1f1f1f;
    color: #e6e6e6;
    border-radius: 10rem;
    width: 20%;
    padding: .5rem;
    margin: 2rem auto;
}
